<!DOCTYPE html>

<html>
<head>
    
    <meta name="viewport" content="width=device-width" />
    <title>SeferTasi -  @ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/animsition.min.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="site-wrapper animsition" data-animsition-in="fade-in" data-animsition-out="fade-out">
        @Html.Partial("_HeaderPartial");
        <div class="page-wrapper">

            
            <section class="inner-page @ViewBag.ContainerClass">

                @RenderBody()

            </section>
            @Html.Partial("_AppSectionPartial") 
            @Html.Partial("_FooterPartial")
            

        </div>
    </div>



    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/tether.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/animsition.min.js"></script>
    <script src="~/js/bootstrap-slider.min.js"></script>
    <script src="~/js/jquery.isotope.min.js"></script>
    <script src="~/js/headroom.js"></script>
    <script src="~/js/foodpicky.min.js"></script>

</body>
</html>
